<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.climbingtraining.constantine.climbingtraining">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TrainingsActivity">
            <intent-filter>
                <action android:name="TrainingsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ExercisesActivity">
            <intent-filter>
                <action android:name="ExercisesActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".activity.GraphActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="GraphActivity" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".activity.CategoriesActivity">
            <intent-filter>
                <action android:name="CategoryActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EditEntitiesActivity">
            <intent-filter>
                <action android:name="EditEntitiesActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsActivity">
            <intent-filter>
                <action android:name="SettingsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
